NEXT_PUBLIC_INSFORGE_URL=
NEXT_PUBLIC_INSFORGE_ANON_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

OPENAI_API_KEY=

BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=

ADZUNA_APP_ID=
ADZUNA_APP_KEY=
